*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, yellow, green);
    padding: 10px;
}

.list {
    width: 600px;
    min-height: 100vh;
    padding-top: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.50);
}

.title {
    font-size: 1.25rem;
    text-align: center;
}

.input_container{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.input_container input {
    outline: 0;
    border: 0;
    width: 65%;
    font-size: 1.5rem;
    border-bottom: 3px solid lightgray;
}

#groceryItems {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 1.5rem;
    gap: 15px;
}

#groceryItems h2 {
    cursor: pointer;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}